<div class="card">
    <div class="imgHolder">
        <img src="https://via.placeholder.com/150" alt="placeholder">
    </div>
    <div class="title">
        <h1>Normal Same</h1>
    </div>
    <div class="sameInfo">
        <p>Klikk her for mer info</p>
    </div>
</div>