
<div id="logo">
      <h1>Samer Search</h1>
 </div>
  <ul class="nav">
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/map">Map</a></li>
  </ul>


<!-- <header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-5 mb-lg-0 text-white text-decoration-none">
        <h1>Samer Search</h1>
      </a>
      <form class="col-12 col-lg-6 mb-7 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark input" placeholder="Search..." aria-label="Search">
      </form>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        <li><a href="/map" class="nav-link px-2 text-white">Map</a></li>
      </ul>
    </div>
  </div>
</header> -->

<!-- <nav>
  <div class="site-title">
    <a href="/"><h1></h1></a>
    <p>A Net Ninja Site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/map">Map</a></li>
  </ul>
</nav> -->